{% extends "layout.html" %}
{% block body %}

<p style="text-align: center; font-size: 120%; color: black">
  <b>What is AGFusion?</b><br>
  <a style="font-size: 75%; color: #262626">
    Annotate Gene Fusion (AGFusion) is a both a python package and web tool to annotate and visualize the <br>
    protein resulting from a gene fusions. The protein architecture can refer to domain annotations (from numerous<br>
    databases such as Pfam, SMART, and many more). See the figure below to view the workflow behind AGFusion.
  </a>
</p>
<br>

<p style="text-align: center; font-size: 120%; color: black">
  <b>How can I incorporate AGFusion into a computational pipeline?</b><br>
  <a style="font-size: 75%; color: #262626">
    The foundation of AGFusion is a python package, which you can download here.
  </a>
</p>

<br>
<p style="text-align: center; font-size: 120%; color: black">
  <b>How do I cite AGFusion?</b><br>
  pending
</p>

{% endblock %}
