{% extends "layout.html" %}
{% block body %}

<p style="text-align: center; font-size: 120%; color: black; width:100%;">
  <b>What is AGFusion?</b><br>
  <p style="text-align: center; font-size: 100%; color: #262626; width:100%;">
    Annotate Gene Fusion (AGFusion) is a both a python package and web tool to annotate and visualize the <br>
    protein resulting from a gene fusions. The protein architecture can refer to domain annotations (from numerous<br>
    databases such as Pfam, SMART, and many more). See the figure below to view the workflow behind AGFusion.
  </p>
</p>
<br>

<p style="text-align: center; font-size: 120%; color: black; width:100%;">
  <b>How can I incorporate AGFusion into a computational pipeline?</b><br>
  <p style="text-align: center; font-size: 100%; color: #262626; width:100%;">
    You can use the AGFusion python package, which can downloaded here.
  </p>
</p>

<br>
<p style="text-align: center; font-size: 120%; color: black; width:100%;">
  <b>How do I cite AGFusion?</b><br>
  <p style="text-align: center; font-size: 100%; color: #262626; width:100%;">
    pending
  </p>
</p>

{% endblock %}
