{% extends "layout.html" %}
{% block body %}

<head>
  <script type="text/javascript" src="{{ url_for('static', filename='javascripts/main.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascripts/mpld3.v0.2.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script>
    function run_example() {

      genome_button_click("grcm38");

      var form = document.createElement("form");
      form.setAttribute("method", "post");
      form.setAttribute("action", "/");

      var params = {
        submitfusion:'',
        gene5prime:"ENSMUSG00000022770",
        loc5prime:"31684294",
        gene3prime:"ENSMUSG00000002413",
        loc3prime:"39648486",
        genome:"GRCm38",
        imageheight:"2",
        imagewidth:"8",
        dpi:"90",
        fontsize:"12",
        scale:"0"
      }

      for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);
            form.appendChild(hiddenField);
         }
      }

      document.body.appendChild(form);
      form.submit();
    }

    function download_image(file_type,image_key) {

      var form = document.createElement("form");
      form.setAttribute("method", "post");
      form.setAttribute("action", "/");

      var params = {
        downloadimage:file_type,
        imageheight:document.getElementById("imageheight").value,
        imagewidth:document.getElementById("imagewidth").value,
        dpi:document.getElementById("dpi").value,
        fontsize:document.getElementById("fontsize").value,
        scale:document.getElementById("scale").value,
        image_key:image_key
      }

      for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);
            form.appendChild(hiddenField);
         }
      }

      document.body.appendChild(form);
      form.submit();
    }

    function get_fusion() {

      var form = document.createElement("form");
      form.setAttribute("method", "post");
      form.setAttribute("action", "/");

      //Determine which genome button pressed
      var genome="";

      if (document.getElementById("grch38").style.backgroundColor==="rgb(211, 211, 211)") {
        genome = "GRCh38";
        document.getElementById("grch37").style.backgroundColor="white";
        document.getElementById("grcm38").style.backgroundColor="white";
      } else if (document.getElementById("grch37").style.backgroundColor==="rgb(211, 211, 211)") {
        genome = "GRCh37";
        document.getElementById("grch38").style.backgroundColor="white";
        document.getElementById("grcm38").style.backgroundColor="white";
      } else if (document.getElementById("grcm38").style.backgroundColor==="rgb(211, 211, 211)") {
        genome = "GRCm38";
        document.getElementById("grch37").style.backgroundColor="white";
        document.getElementById("grch38").style.backgroundColor="white";
      } else {
        genome = "none";
      }

      var params = {
        submitfusion:'',
        gene5prime:document.getElementById("5primegene").value,
        loc5prime:document.getElementById("5primeloc").value,
        gene3prime:document.getElementById("3primegene").value,
        loc3prime:document.getElementById("3primeloc").value,
        genome:genome,
        imageheight:document.getElementById("imageheight").value,
        imagewidth:document.getElementById("imagewidth").value,
        dpi:document.getElementById("dpi").value,
        fontsize:document.getElementById("fontsize").value,
        scale:document.getElementById("scale").value
      }

      for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);
            form.appendChild(hiddenField);
         }
      }

      document.body.appendChild(form);
      form.submit();
    }

    function displayOptionalParameters() {

      var b = document.getElementById("optionalparams");

      if (b.style.display=='block') {
        b.style.display='none';
      } else {
        b.style.display='block';
      }

    }

    function genome_button_click(button_id) {

      var grch38 = document.getElementById("grch38");
      grch38.style.backgroundColor="white";

      var grch37 = document.getElementById("grch37");
      grch37.style.backgroundColor="white";

      var grcm38 = document.getElementById("grcm38");
      grcm38.style.backgroundColor="white";

      var pressed = document.getElementById(button_id);
      pressed.style.backgroundColor="lightgrey"
    }
</script>

  <style>
    .dropbtn {
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {background-color: #999999}

    .show {display:block;}

    .inner {
      background-color: white;
      padding: 0.0cm;
      margin: 0.1cm;
      padding-top: 0cm;
      border-color: black;
      border-width: thin;
      border-style: solid;
      height: 250px;
      -moz-border-radius-topright:5px;
      -moz-border-radius-topleft:5px;
      -webkit-border-top-right-radius:5px;
      -webkit-border-top-left-radius:5px;
    }
    .inner h2 {
      background:#0059b3;
      background-color: #0059b3;
      color:white;
      padding-top: 15px;
      margin: 0px;
      margin-bottom: 20px;
      width: 100%;
      height: 50px;
    }

    .indexbuttons {
      background-color: #f2f2f2;
      border-color: #bfbfbf;
      border-width: thin;
      border-style: solid;
      color: black;
      width: 200px;
      height: 50px;
    }
    .indexbuttons:hover {
      background-color: #999999;
    }

    .geneinfo {
      border-radius:5px;
      width: 300px;
      height: 35px;
    }

    .optionparams {
      border-radius:5px;
      width: 70px;
      height: 35px;
      text-align: center;
    }

    #maindiv {
      padding-top: 25px;
    }

    .imagebuttons {
      font-size: 12px;
      background-color: white;
      color: black;
      border-color: black;
      text-align: left;
    }
    .imagebuttons:hover {
      background: #e6e6e6;
      border: #cccccc
    }

    .effectbuttons {
      font-size: 12px;
      background-color: white;
      color: black;
      border-color: black;
      text-align: left;
      height: 20px;
      pointer-events: none;
      line-height: 8px;
      margin-top: 5px;
    }

    .downloadseqbutton {
      background-color: #0059b3;
      border-color: #0059b3;
    }

    g.mpld3-yaxis, g.mpld3-xaxis {
      display: none;
    }



  </style>
</head>

<div class="container-fluid" style="width:100%; text-align: center;" id="maindiv">

  <div class="row" style="border-style: solid; border-color: #b3b3b3; border-width: thin; border-radius:10px;">

    <div class="col-md-4" style="text-align: left; padding: 0cm;">
      <div class="inner">
        <h2 style="font-size: 115%; text-align: center;"><font color="white"><b>Enter the 5' gene partner</b></font></p></h2>
        <p style="text-align: left; margin-left: 15px"><font color="#595959"><b>The 5' gene (symbol or ensembl ID):</b></font></p>
        <input type="text" class="geneinfo" id="5primegene" placeholder="FGFR2" style="margin-left: 15px; margin-bottom: 20px"  value="{{ params.gene5prime }}">
        <p style="text-align: left; margin-left: 15px;"><font color="#595959"><b>The 5' gene junction (genomic coordinates):</b></font></p>
        <input type="text" class="geneinfo" id="5primeloc" placeholder="130167703" style="margin-left: 15px"  value="{{ params.loc5prime }}">
      </div>

    </div>

    <div class="col-md-4" style="text-align: left; padding: 0cm;">
      <div class="inner">
        <h2 style="font-size: 115%; text-align: center;"><font color="white"><b>Enter the 3' gene partner</b></font></p></h2>
        <div>
          <p style="text-align: left; margin-left: 15px;"><font color="#595959"><b>The 3' gene (symbol or ensembl ID):</b></font></p>
          <input type="text" class="geneinfo" id="3primegene" placeholder="DNM3" style="margin-left: 15px; margin-bottom: 20px" value="{{ params.gene3prime }}">
          <p style="text-align: left; margin-left: 15px;"><font color="#595959"><b>The 3' gene junction (genomic coordinates):</b></font></p>
          <input type="text" class="geneinfo" id="3primeloc" placeholder="162019992"  style="margin-left: 15px"  value="{{ params.loc3prime }}">
        </div>
      </div>
    </div>

    <div class="col-md-4" style="text-align: center; padding: 0cm;">
      <div class="inner">
        <h2 style="font-size: 115%; text-align: center;"><font color="white"><b>Select a reference genome</b></font></p></h2>
        <div class="btn-group-vertical btn-group-lg" role="group" aria-label="..." style="margin-top: 15px;">
          <button type="button" id="grcm38" onClick="genome_button_click('grcm38')" class="btn btn-default" style="font-size: 90%; background-color: {{ params.grcm38_color }};">GRCm38/mm10</button>
          <button type="button" id="grch37" onClick="genome_button_click('grch37')" class="btn btn-default" style="font-size: 90%; background-color: {{ params.grch37_color }};">GRCh37/hg19</button>
          <button type="button" id="grch38" onClick="genome_button_click('grch38')" class="btn btn-default" style="font-size: 90%; background-color: {{ params.grch38_color }};">GRCh38/hg38</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2" style="text-align: center; padding 0cm;">
        <div style="text-align: middle; vertical-align: center;">
          <button type="submit" class="btn btn-info indexbuttons" onClick="displayOptionalParameters()" style="height: 30px; padding: 0.5cm; margin: 0.3cm; padding-top: 5px;">
            <span class="glyphicon glyphicon-plus"></span> Optional parameters
          </button>
        </div>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-info indexbuttons" onClick="run_example()" style="height: 30px; width: 150px; padding: 0.5cm; margin: 0.3cm; padding-top: 5px;">
          Example
        </button>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4" style="text-align: middle;">
        <div style="text-align: middle; vertical-align: center;">
          <!--<form name="fusion" action="{{ url_for('.index') }}" method=post>-->
          <button type="submit" onClick="get_fusion()" id="getfusion" class="indexbuttons btn btn-info" style="padding: 0.5cm; font-size: 150%; margin: 0.1cm; padding-top: 10px;" name="submitfusion">Go</button>

        </div>
      </div>
    </div>

    <div class="row" id="optionalparams" style="display: {{ params.optionalparameterdisplay }};">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            <p style="text-align: center; margin-left: 15px; width: 100px;"><font color="#595959"><b>Font size:</b></font></p>
          </div>
          <div class="col-md-2">
            <input type="text" class="optionparams" id="fontsize" style="margin-left: 15px; margin-bottom: 20px" value="{{ params.fontsize }}">
          </div>

          <div class="col-md-2">
            <p style="text-align: center; margin-left: 15px; width: 100px;"><font color="#595959"><b>Dots per inch:</b></font></p>
          </div>
          <div class="col-md-2">
            <input type="text" class="optionparams" id="dpi" style="margin-left: 15px; margin-bottom: 20px" value="{{ params.dpi }}">
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 optionparamsdiv">
            <p style="text-align: center; margin-left: 15px; width: 100px;"><font color="#595959"><b>Image width (inches):</b></font></p>
          </div>
          <div class="col-md-2">
            <input type="text" class="optionparams" id="imagewidth" style="margin-left: 15px; margin-bottom: 20px" value="{{ params.imagewidth }}">
          </div>

          <div class="col-md-2">
            <p style="text-align: center; margin-left: 15px; width: 100px;"><font color="#595959"><b>Image height (inches):</b></font></p>
          </div>
          <div class="col-md-2">
            <input type="text" class="optionparams" id="imageheight" style="margin-left: 15px; margin-bottom: 20px" value="{{ params.imageheight }}">
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <p style="text-align: center; margin-left: 15px; width: 100px;"><font color="#595959"><b>Scale:</b></font></p>
          </div>
          <div class="col-md-2">
            <input type="text" class="optionparams" id="scale" style="margin-left: 15px; margin-bottom: 20px;" value="{{ params.scale }}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="alert alert-danger" style="visibility: {{ params.inputerror }}" id="warningDiv">Error: {{ params.inputerrormsg }}</div>
  </div>

  <div class="row" style="display: {{ params.plotdisplay }};">
    <p style="font-size: 200%;"><b>{{ params.name }} gene fusion</b></p>
    <br>

    <form name="fusion" action="{{ url_for('.index') }}" method="post">
      <button type="submit" class="btn btn-info downloadseqbutton" name="downloadseq" value="cdna">
        <span class="glyphicon glyphicon-download"></span> cDNA sequences
      </button>

      <button type="submit" class="btn btn-info downloadseqbutton" name="downloadseq" value="cds">
        <span class="glyphicon glyphicon-download"></span> CDS sequences
      </button>

      <button type="submit" class="btn btn-info downloadseqbutton" name="downloadseq" value="protein">
        <span class="glyphicon glyphicon-download"></span> Protein sequences
      </button>

      <!--
      <button type="submit" class="btn btn-info downloadseqbutton" name="downloadseq" value="images">
        <span class="glyphicon glyphicon-download"></span> All images
      </button>
      -->
    </form>

    <br>

    <p style="font-size: 100%;">Below are images of all isoform combinations predicted to form a functional protein</p>

    <hr>

    {% if dict_of_plots|length > 0 %}

      {% for plot in dict_of_plots %}
        <div id="{{ plot['id'] }}"></div>
        <!--<div class="container" style="width:100%; text-align: right">-->
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-info effectbuttons" name="downloadimage" value="{{ plot['id'] }}_png">
              5' location: {{ effects[plot['id']]['5prime_effect'] }}
            </button>
            <button type="submit" class="btn btn-info effectbuttons" style="pointer-events: none;" name="downloadimage" value="{{ plot['id'] }}_pdf">
              3' location: {{ effects[plot['id']]['3prime_effect'] }}
            </button>
            <button type="submit" class="btn btn-info effectbuttons" style="pointer-events: none;" name="downloadimage" value="{{ plot['id'] }}_pdf">
              Effect: {{ effects[plot['id']]['effect'] }}
            </button>
          </div>
          <div class="col-md-4">
            <button type="submit" class="btn btn-info imagebuttons" name="downloadimage" value="{{ plot['id'] }}_png" onClick="download_image('png','{{ plot['id'] }}')">
              <span class="glyphicon glyphicon-download"></span> PNG
            </button>
            <button type="submit" class="btn btn-info imagebuttons" name="downloadimage" value="{{ plot['id'] }}_pdf" onClick="download_image('pdf','{{ plot['id'] }}')">
              <span class="glyphicon glyphicon-download"></span> PDF
            </button>
          </div>
        </div>
        <hr>
      {% endfor %}

      <script type="text/javascript">
        {% for plot in dict_of_plots %}
          mpld3.draw_figure("{{ plot['id'] }}", {{ plot['json']|safe }});
        {% endfor %}
      </script>

    {% else %}
      <p style="font-size: 200%; color: #bfbfbf"> None of the fusion transcripts are predicted to be protein coding!</p>
    {% endif %}
  </div>
</div>

{% endblock %}
