{% extends "layout.html" %}
{% block body %}
<meta http-equiv="refresh" content="2;url=/" />
<script>
  function redirect(){
    setTimeout(function(){
      document.getElementById("redirect_text").innerHTML = "Redirecting in 1 second...";

    },900)
  }
</script>
<body onload="redirect()">
<p style="text-align: center; font-size: 120%; color: black">
  <b>Thank you!</b><br>
  </br>
  <p style="text-align: center; color: #bfbfbf" id="redirect_text">Redirecting in 2 seconds...</p>

</p>
</body>
{% endblock %}
